	{% extends 'layout.twig' %}

	{% block style %}
		<link rel="stylesheet" type="text/css" href="./view/css/search.css">
	{% endblock %}

	{% block content %}
		<div class="section col-sm-12 col-lg-6">

			{% if categories is not empty %}
			<div class="row">
				<h3 class="col-8">Categories</h3>
			{% for category in categories %}
					<div class="resul col-8">
						<div>
							<a href="index.php?action=searchByCategory&nameCategory={{category.name}}">{{category.name}}</a>
						</div>
					</div>
			{% endfor %}
			</div>
			{% endif %}

			{% if profiles is not empty %}
			<div class="row">
				<h3 class="col-8">Profiles</h3>
				<div class="w-100"></div>
			{% for profile in profiles %}
					<div class="card">
					  	<div class="thumbnail">
							<img class="img-responsive user-photo" src="{{profile.photo}}">
						</div>
					  <div class="card-body">
					    <strong><a href="index.php?action=runProfileByNickname&nickname={{profile.nickname}}">{{profile.nickname}}</a></strong>
					  </div>
					</div>
			{% endfor %}
			</div>
			{% endif %}

			{% if profiles is not empty %}
			<div class="row">
				<h3 class="col-8">Posts</h3>
				<div class="w-100">
			{% for publication in publications %}
					<div class="resul col-8">
						<div>
							{{publication.photo}}
							<a href="index.php?action=runProfileByNickname&nickname={{publication.nickname}}">{{publication.nickname}}</a>
							<a href="index.php?controller=Post&action=runPost&idPost={{publication.id}}">{{publication.title}}</a>
							{{publication.datePost}}
						</div>
					</div>
			{% endfor %}
			</div>
			{% endif %}
		
		</div>
	{% endblock %}
